<h1>Sign in</h1>
<h3>{{this.message}}</h3>

<form action="/user" method="post">

  <select name="role" id="">
    <option value="Сотрудник">Сотрудник</option>
    <option value="Менеджер">Менеджер</option>
  </select>

  <label for="email">Email:</label>
  <input id="email" name="email" type="text" value="{{email}}">

  <label for="password">Password:</label>
  <input id="password" name="password" type="text" value="{{password}}">

  <button>login</button>
</form>
