body {
  /* color: rgb(245, 237, 237); */
  color: white;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../img/restoran-didi-didi-na-tverskom-bulvare_e4763_full-105953.jpeg');
}
.box_filter {
  border: 5px solid red;
  width: 300px;
  min-height: 100vh;
}
.changer {
  position: absolute;
  border: 5px solid green;
  left: 50em;
  top: 50px;
}
.signtext {
  position: absolute;
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  top: 25em;
  min-width: right;
  width: 100%;
}
.login {
  /* border: 5px solid red; */
  width: 100%;
  min-width: right;
  position: absolute;
  top: 30em;
  display: flex;
  justify-content: center;
}
.header {
  width: 100%;
  height: 50px;
  border: 5px solid blue;
  min-width: right;
  text-align: center;
}
/* #toolbar {
  justify-content: right;
  position: absolute;
  align-items: right;
} */
